@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form method="post">
    <div class="form-group">
        <label for="eventName">Event Name:</label>
        <input type="text" name="name" id="eventName">
    </div>
    <div class="form-group">
        <label for="eventDescription">Event Description:</label>
        <input type="text" name="description" id="eventDescription">
    </div>
        <input type="submit" value="Submit New Event">
</form>